@import '../../Variables.scss';

.project-wrapper{
    scroll-snap-align: start;
    display: flex;
    min-height: 100vh;
    border-bottom: 1px solid #dfdfdf;
    h1{
        font-size: 2vw;
        font-weight: bold;
        letter-spacing: $letterSpacing;

    }
    p{
        text-align: left;
    }
}

.project-grid{
    margin: auto;
    display: grid;
    width: 80%;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(fit-content,1fr));
    overflow-x: hidden;

    .project-title{
        grid-column: 1/ span 2;
        padding: 3rem;
        text-align: left;
    }
    .project-item{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 2rem 5rem;
        overflow: hidden;
        min-height: 400px;
        overflow-x: hidden;
            &:nth-child(odd){
                border-left: 1px solid rgb(139, 139, 139);
                padding: 2rem 5rem;
            }
            svg{
                height: 50px;
                margin: 1rem 0;
            }
            figure{
                position: relative;
                overflow: hidden;
                height: 150px;
                border-radius: 15px;
                transition: all .2s;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                .darken{
                    position: absolute;
                    background-color: rgb(18, 0, 53);
                    height: 100%;
                    width: 100%;
                    transition: all .2s;
                }
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    transition: all .2s;
                    opacity: 0.8;
                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
                &:hover{
                    transform: rotate3d(30,0,0,30deg);
                    .darken{
                        opacity: 0.4;
                    }
                }
            }

            h2{
                margin-bottom: .2vw;
            }
            p{
                text-align: justify;
            }
            .button-group{
                display: flex;
                align-items: center;
                justify-self: flex-end;
                gap: 1vw;
                margin-top: 1rem 0 0.5rem;
                a{
                    text-decoration: none;
                    transition: all .2s;
                    &:first-child{
                        color:black;
                        font-weight: bold;
                    }&:hover{
                        color: rgb(104, 104, 104);
                    }
                    //github button child
                    &:nth-child(2){
                        background-color: black;
                        padding: .5rem .5rem;
                        border-radius: 10px;
                        height: fit-content;
                        transition: all .2s;
                        &:hover{
                            background-color: rgb(94, 94, 94);
                            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px 0px, rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, rgba(0, 0, 0, 0.09) 0px 16px 8px 0px, rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;                        }
                    }

                    svg{
                        height: 40px;
                        animation: none;
                    }
                }

                .project-button{
                    display: flex;
                    align-items: center;
                    height: fit-content;
                    border-radius: 15px;
                    .lottie-live{
                        height: 20px;
                        svg{
                            padding: 0;
                            margin: 0;
                            margin-right: 10px;
                        }
                    }
                    p{
                        color: white;
                    }
                }
            }
        }

    }

    .slide-left{
        transform: translate(1000px);
        animation: reset-position ease-in-out forwards;
        animation-timeline: view();
        animation-range:entry;
    }
    .slide-right{
        transform: translate(-1000px);
        animation: reset-position ease-in-out forwards;
        animation-timeline: view();
        animation-range:entry;
    }
    .fade-in-effect{
        opacity: 0;
        scale: 0.6;
        animation: fade-in ease-in-out forwards;
        animation-timeline: view();
        animation-range:entry;
    }

    @keyframes fade-in {
        to{
            scale: 1;
            opacity: 1;
        }
    }

    @keyframes reset-position {
        to{
            transform: translateX(0);
        }
    }

    @media screen and (max-width:$breakpoint-laptop) {
        .project-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .project-grid .project-title{
            padding: 2rem 0 1rem 0;
        }
        .project-grid .project-item,
        .project-grid .project-item:nth-child(odd){
            padding: 1rem 2rem;
        }
        .project-grid .project-item .button-group a svg{
            height: 20px;
        }
    }

    @media screen and (max-width:$breakpoint-tablet) {
        .project-wrapper{
            .project-grid{
                width: 90%;
            }
        }
    }

    @media screen and (max-width:$breakpoint-mobile-l) {
        .project-wrapper{
            .project-grid{
                grid-template-columns: 1fr;
                .project-title{
                    grid-column: 1;
                }
                .project-item{
                    border: none;
                }
            }
        }
    }