@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.projects-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);    
    border-radius: 1rem;
    margin: auto;
    padding: 4rem 0rem 4rem 4rem;
    gap: 2rem 6rem;
    margin-top: 5rem;
}

.projects-list{
    display: flex;
    flex-basis: auto;
    overflow-x: scroll;
    padding: 2rem 0;
    gap: 5rem;
}

.projects-list article{
    flex: 1 1 0;
}

.projects-list:last-child{
    padding-right: 4rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card h1{
    font-family: Sora, sans-serif;
    margin-bottom: .5rem;
    font-size: 3rem;
    font-weight: 400;
}

 .project-card p{
    line-height: 1.5rem;
 }

.project{
    background-color: white;
    height: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: scale 0.5s;
}

.project:hover{
    scale: 1.05;
}

.project-img{
    margin: auto;
    width: 20rem;
    justify-self: center;
}

.heading{
    font-family: Sora, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.project-description{
    margin-top: .5rem;
    line-height: 1.5rem;
}

.project a{
    display: flex;
}

.project-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.see-more-btn{
    display: flex;
    height: auto;
    max-width: fit-content;
    background-color: #2f577e;
    color: white;
    padding: .4rem .6rem;
    align-items: center;
    transition: .5s;
    align-self: flex-end;
    border-radius: .5rem;

}

.see-more-btn p{
    margin-right: .5rem;
}

.see-more-btn:hover{
    background-color: #5084b9;
}

.see-more{
    font-style: bold;
    font-weight: 500;
}

.github-btn{
    color: rgb(0, 0, 0);
}

.disabled{
    color: rgb(78, 78, 78);
    background-color: darkgray;
    cursor: not-allowed;
}

.project-link{
    text-decoration: none;
    color: black;
    width: fit-content;
    width: fit-content;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 8px;
    scrollbar-color: white transparent;
  }

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);
    cursor: grab;
    border-radius: 10px;
  }

  .projects-list::-webkit-scrollbar{
    height: 8px;
  }

  .project-list::-webkit-scrollbar-track{
    background-color: #2f2f2f;
  }
  
@media screen and (max-width:800px) {
    .projects-container{
        display: flex;
        flex-direction: column;
    }

    .projects-list{
        display: flex;
        flex-direction: column;
    }

    .project-img{
        width: 100%;
    }

    .project{
        padding-bottom: 2rem;
        border-bottom: .5rem rgb(110, 110, 110) dotted;
    }

    .project-link{
        width: 100%;
    }

    .project:last-child{
        border-bottom: none;
        padding-bottom: none;
    }
}

