@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  padding: 0 1rem;
}

.hero-wrapper {
  max-height: 100dvh;
  position: relative;
}
.hero-wrapper .overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 100%;
  background: radial-gradient(50% bottom, transparent, black);
  background: -webkit-radial-gradient(100%, transparent, rgb(27, 27, 27) 65%);
  z-index: 1;
}
.hero-wrapper .hamburger, .hero-wrapper .hamburger-menu {
  display: none;
}
.hero-wrapper video {
  max-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}
.hero-wrapper .hero-content {
  position: absolute;
  top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  width: 100%;
  height: 100vh;
  z-index: 4;
}
.hero-wrapper .hero-content ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-wrapper .hero-content ul li {
  list-style: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
  padding: 0.5rem 2rem;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.hero-wrapper .hero-content ul li a {
  color: white;
  text-decoration: none;
}
.hero-wrapper .hero-content ul ::after {
  content: "";
  height: 100%;
  width: 0px;
  background-color: #bdbdbd;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  opacity: 0.3;
  z-index: -1;
}
.hero-wrapper .hero-content ul :hover::after {
  width: 100%;
}
.hero-wrapper .hero-content ul .contact-button {
  background-color: #ff9b58;
}
.hero-wrapper .hero-content ul :nth-child(6)::after {
  background-color: red;
}
.hero-wrapper .text-content {
  font-family: "Adamina", serif;
  font-weight: normal;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.hero-wrapper .text-content h1 {
  font-size: 12rem;
  letter-spacing: 2rem;
}
.hero-wrapper .text-content h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: rgb(255, 255, 255);
  padding: 0.4rem 2rem;
}
.hero-wrapper .text-content .certifications {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.hero-wrapper .text-content .certifications .cert-link {
  color: white;
  text-decoration: none;
}
.hero-wrapper .text-content .certifications svg {
  height: 10px;
}
.hero-wrapper .text-content .certifications .cert-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero-wrapper .text-content .certifications .cert-item svg {
  height: 40px;
  opacity: 0.8;
}
.hero-wrapper .text-content .certifications .cert-item h3 {
  font-size: 1rem;
  font-weight: normal;
}
.hero-wrapper .text-content .scroll {
  position: absolute;
  bottom: 50px;
  right: 45%;
  color: white;
  width: 200px;
}

@media screen and (max-width: 1200px) {
  .desktop-nav {
    display: none;
  }
  .hero-wrapper {
    position: relative;
  }
  .hero-wrapper .hero-content {
    top: 0;
  }
  .hero-wrapper video {
    min-height: 100dvh;
  }
  .hero-wrapper .hamburger {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    color: rgb(245, 245, 245);
    z-index: 6;
  }
  .hero-wrapper .hamburger svg {
    height: 40px;
  }
  .hero-wrapper .hamburger-menu {
    display: block;
    background-color: rgb(54, 54, 54);
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  .hero-wrapper .hamburger-menu .nav-mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5rem 1rem;
  }
  .hero-wrapper .hamburger-menu .nav-mobile h2 {
    color: white;
  }
  .hero-wrapper .hamburger-menu .nav-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    width: 100%;
    margin-top: 1rem;
  }
  .hero-wrapper .hamburger-menu .nav-mobile ul li {
    font-size: 2rem;
    padding: 0.5rem 0;
    background-color: #424242;
    border: 2px rgb(78, 78, 78) solid;
    border-radius: 10px;
  }
  .hero-wrapper .hamburger-menu .nav-mobile ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  .hero-wrapper .hamburger-menu .nav-mobile ul li a svg {
    height: 10px;
  }
  .hero-wrapper .hamburger-menu .nav-mobile .socials {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
    justify-content: space-around;
  }
  .hero-wrapper .hamburger-menu .nav-mobile .socials .socials-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }
  .hero-wrapper .hamburger-menu .nav-mobile .socials .socials-icons a svg {
    height: 50px;
    color: rgb(255, 255, 255);
  }
  .hero-wrapper .hamburger-menu .nav-mobile .socials .socials-icons svg {
    color: #ff9b58;
    height: 15px;
  }
  .hero-wrapper .text-content {
    height: 100dvh;
    text-align: center;
    gap: 1rem;
  }
  .hero-wrapper .text-content .certifications .cert-item {
    flex-direction: column;
  }
  .hero-wrapper .text-content h2 {
    font-size: 0.8rem;
    letter-spacing: normal;
    padding: 0.2rem 0.5rem;
  }
  .hero-wrapper .text-content h1 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
    line-height: 5rem;
  }
  .hero-wrapper .text-content .scroll {
    right: 25%;
  }
}/*# sourceMappingURL=hero.css.map */