@keyframes ZoomOut {
    from{scale: 2;}
    to{scale: 1;}
}

@keyframes Show {
    from{opacity:0}
    to{opacity: 1;}    
}

@keyframes slidesTop {
    from{align-items: center;}
    to{align-items: flex-start;}
}

html{
    scroll-behavior: smooth;
    scroll-padding: 20rem;
}

body{
    background-color: #5885AF;
}

.invisible-container{
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-container{
    display: flex;
    flex-direction: column;
    background-color: none;
    width: 75%;
    margin: auto;
    padding: 3rem;
    border: .5rem solid rgb(255, 255, 255);
    border-radius: 1rem;
    animation: Show 2s, ZoomOut 2s, slidesTop 2s ;
    animation-iteration-count: 1;
    overflow: hidden;
}

.hero{
    display: flex;
    height: 45vh;
    width: 75%;
    align-items: center;
    background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);    
    border-radius: 1rem;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container p,
.image-container input[type='submit']{
    display: none;
}

.name-heading{
    font-weight: 500;
    padding: 0 2rem;
    font-size: 2rem;
    font-family: Sora, 'sans-serif';
}

.hero img{
    width: 55%;   
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);    
    border-radius: 10%;
    box-shadow: 1px 1px 5px rgb(158, 158, 158);
}

.hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.hero-text h1{
    font-size:3rem;
    font-weight: 500;
    font-family: Sora, sans-serif;
    align-self: flex-start;
}

.hero-text p{
    color: black;
    font-size: 1.5rem;
}

.hero-text input[type=submit]{
    width: fit-content;
    padding: .8rem 1rem;
    font-weight: 500;
    margin-top: 1rem;
    cursor: pointer;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 5px rgb(158, 158, 158);
    font-family: Sora, sans-serif;
    transition: .5s;
    color: black;
    border-radius: .5rem;
    align-self: flex-start;
}

.hero-text input[type=submit]:hover{
    background-color: #e6e6e6;
}

.hero-text .download-info{
    font-size: .8rem;
    align-self: flex-start;
}

.hero-socials{
    display: none;
    gap: 1rem;
}

@media screen and (max-width:1140px){


    .image-container{
        flex-grow: 2;
    }

    .hero img{
        width: 80%;
    }

    .hero-text h1{
        font-size: 2rem;
    }

    .name-heading{
        font-size: 1.2rem;
    }

    .skillbox-title{
        width: 75%;
    }
}

@media screen and (max-width:800px){

    .hero{
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
        width: 90%;
    }

    .image-container{
        align-items: start;
        padding-left: 1rem;
    }
    
    .image-container p{
        line-height: 1.5em;
        padding: 0.5rem 1rem 1rem 0;
        display: inline;
    }

    .name-heading{
        padding: 0;
        font-size: 1.2rem;
        font-family: Sora, sans-serif;
    }
    
    .hero img{
        width: 50%;
        border-radius: 100%;
    }

    .hero-text{
        display: none;
    }

    .image-container input[type=submit]{
        display: inline;
        width: fit-content;
        padding: .8rem 1rem;
        font-weight: 500;
        cursor: pointer;
        background-color: white;
        border: none;
        box-shadow: 1px 1px 5px rgb(158, 158, 158);
        font-family: Sora, sans-serif;
        transition: .5s;
        color: black;
        border-radius: .5rem;
        align-self: flex-start;
    }

    .hero-text p, 
    .hero-text .download-info {
        font-size: .5rem;
    }

    .hero-socials{
        display: flex;
        gap: 1rem;
    }

    .hero-socials a{
        color: black;
    }
}


