@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Staatliches&display=swap");
*, *::after, *::before, body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: #F0F0F0;
}
html body::-webkit-scrollbar {
  width: 0.75rem;
}
html body::-webkit-scrollbar-track {
  background: #bdbdbd;
}
html body::-webkit-scrollbar-thumb {
  background-color: #888888;
}

.hero-wrapper {
  scroll-snap-align: start;
  border-bottom: 1px solid #dfdfdf;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.hero-wrapper .hero-container {
  width: 75%;
  margin: auto;
}
.hero-wrapper .hero-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.hero-wrapper .hero-container h1 {
  font-family: "Staatliches", sans-serif;
}
.hero-wrapper .hero-container h2 {
  margin-top: -1rem;
}
.hero-wrapper .hero-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.hero-wrapper .hero-container ul li {
  display: inline-block;
  margin-left: 3vw;
  font-size: 1.5rem;
  transition: all 0.2s;
}
.hero-wrapper .hero-container ul li a {
  color: black;
  text-decoration: none;
}
.hero-wrapper .hero-container ul li:hover {
  text-shadow: 1px 1px 15px #675640;
}
.hero-wrapper .hero-container ul .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 3vw;
}
.hero-wrapper .hero-container ul .dropdown:hover .dropdown-content {
  display: flex;
}
.hero-wrapper .hero-container ul .dropdown .dropdown-btn {
  border: none;
  padding: 0.25vw 0.5vw;
  font-size: 1vw;
  font-size: 1.5rem;
}
.hero-wrapper .hero-container ul .dropdown .dropdown-btn:hover {
  cursor: pointer;
  text-shadow: 1px 1px 15px #675640;
}
.hero-wrapper .hero-container ul .dropdown .dropdown-content {
  transition: all 0.2s;
  position: absolute;
  padding: 0.5vw;
  min-width: 170px;
  max-width: 250px;
  background-color: #dfdfdf;
  display: none;
  flex-direction: column;
  z-index: 1;
}
.hero-wrapper .hero-container ul .dropdown .dropdown-content a {
  text-decoration: none;
  margin-top: 0.3vw;
  font-size: 0.8vw;
  color: black;
}
.hero-wrapper .hero-container ul .dropdown .dropdown-content a:hover {
  text-shadow: 1px 1px 15px #675640;
}
.hero-wrapper .hero-container ul .contact-btn {
  background-color: #658864;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}
.hero-wrapper .hero-container ul .contact-btn:hover {
  background-color: #B7B78A;
}
.hero-wrapper .hero-container ul .contact-btn a {
  color: white;
  text-decoration: none;
}
.hero-wrapper .hero-container .hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  z-index: 2;
  margin: 0;
  padding: 0;
}
.hero-wrapper .hero-container .hamburger-menu::before, .hero-wrapper .hero-container .hamburger-menu::after, .hero-wrapper .hero-container .hamburger-menu input {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  content: "";
  width: 50px;
  height: 10px;
  background-color: rgb(58, 58, 58);
  border-radius: 999px;
  transition: all 200ms ease-in-out;
  transform-origin: left center;
}
.hero-wrapper .hero-container .hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: 59.3969696195px;
  translate: 0 -5px;
}
.hero-wrapper .hero-container .hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: 59.3969696195px;
  translate: 0 5px;
}
.hero-wrapper .hero-container .hamburger-menu:has(input:checked) + .sidebar {
  background-color: blue;
  translate: -30%;
}
.hero-wrapper .hero-container .hamburger-menu input {
  cursor: pointer;
  z-index: 2;
}
.hero-wrapper .hero-container .hamburger-menu input:checked {
  opacity: 0;
}
.hero-wrapper .hero-container .sidebar {
  position: absolute;
  right: 0;
  top: 0;
  translate: 100%;
  background-color: red;
}
.hero-wrapper .hero-container .sidebar nav ul {
  display: flex;
  flex-direction: column;
}
.hero-wrapper .hero-container .hero-grid {
  display: grid;
  gap: 2rem;
  margin-top: 5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(200px, 500px) minmax(200px, 300px);
}
.hero-wrapper .hero-container .hero-grid .welcome-box {
  display: flex;
  flex-direction: column;
  grid-column: 1/span 2;
  background-color: #D9D9D9;
  border-radius: 35px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 6rem 0 6rem 2rem;
}
.hero-wrapper .hero-container .hero-grid .welcome-box h2 {
  font-feature-settings: "liga" 0;
  letter-spacing: -3px;
  font-weight: bold;
  line-height: 4.5rem;
}
.hero-wrapper .hero-container .hero-grid .welcome-box p {
  margin: 1rem 0;
  font-size: 2rem;
}
.hero-wrapper .hero-container .hero-grid .welcome-box p span {
  position: relative;
  font-weight: bold;
}
.hero-wrapper .hero-container .hero-grid .welcome-box p span::after {
  display: block;
  bottom: 0;
  right: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #A68B5B, #675640);
}
.hero-wrapper .hero-container .hero-grid .welcome-box a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.hero-wrapper .hero-container .hero-grid .welcome-box a .resume {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #675640;
  transition: all 0.2s;
  border-radius: 10px;
}
.hero-wrapper .hero-container .hero-grid .welcome-box a .resume p {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
}
.hero-wrapper .hero-container .hero-grid .welcome-box a .resume:hover {
  background-color: #A68B5B;
}
.hero-wrapper .hero-container .hero-grid figure {
  position: relative;
  border-radius: 25px;
  grid-column: 3/span 2;
  grid-row: 1/span 2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.hero-wrapper .hero-container .hero-grid figure img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.hero-wrapper .hero-container .hero-grid figure a {
  bottom: 25px;
  left: 25px;
  padding: 0.5rem 1rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border: 1px solid black;
  border-radius: 35px;
  position: absolute;
  transition: all 0.2s;
}
.hero-wrapper .hero-container .hero-grid figure a:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  scale: 1.1;
  background-color: white;
}
.hero-wrapper .hero-container .hero-grid .profile-description {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.2s;
  height: 100%;
  padding: 2rem;
}
.hero-wrapper .hero-container .hero-grid .profile-description .facts-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: 1rem;
}
.hero-wrapper .hero-container .hero-grid .profile-description .facts-container .fact {
  border-radius: 5px;
  padding: 0.5rem;
}
.hero-wrapper .hero-container .hero-grid .profile-description .facts-container .fact p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.hero-wrapper .hero-container .hero-grid .certifications-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 25px;
  grid-row: 2;
  grid-column: 2;
}
.hero-wrapper .hero-container .hero-grid .certifications-box .certifications {
  display: flex;
  flex-direction: column;
}
.hero-wrapper .hero-container .hero-grid .certifications-box a {
  text-decoration: none;
  margin-top: 1rem;
  font-size: 0.8vw;
  color: rgb(139, 139, 139);
}
.hero-wrapper .hero-container .hero-grid .certifications-box a:hover {
  color: #302517;
  text-shadow: 1px 1px 15px rgb(139, 139, 139);
}
.hero-wrapper .hero-container .hero-grid svg {
  color: rgb(139, 139, 139);
  margin-right: 0.5vw;
}
.hero-wrapper .hero-container .hide {
  display: block;
}

.contact-btn:hover {
  background-color: #675640;
}

.hero-wrapper ul .contact-btn:hover a {
  color: white;
}

.primary-heading {
  font-size: 5rem;
  font-weight: bold;
}

.secondary-heading {
  font-size: 3rem;
  font-weight: bold;
}

.third-heading {
  font-size: 2rem;
  font-weight: bold;
}

.sub-heading {
  font-size: 1.5rem;
}

.body-text {
  font-size: 1rem;
}

.button-text {
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .primary-heading {
    font-size: 4rem;
  }
  .secondary-heading {
    font-size: 2rem;
  }
  .third-heading {
    font-size: 1.5rem;
  }
  .body-text {
    font-size: 0.8rem;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .hero-wrapper ul .dropdown .dropdown-content {
    font-size: 1.5rem;
  }
  .hero-wrapper .hero-grid {
    margin-top: 2rem;
  }
  .hero-wrapper .hero-grid .welcome-box p {
    font-size: 1.5rem;
  }
  .hero-wrapper .hero-grid .welcome-box p span::after {
    height: 4px;
  }
  .hero-wrapper .hero-grid figure img {
    -o-object-position: center;
       object-position: center;
    height: 100%;
  }
  .hero-wrapper .hero-grid .certifications-box {
    padding: 1rem;
  }
  .hero-wrapper .hero-grid .certifications-box a {
    font-size: 1rem;
  }
  .hero-wrapper .hero-grid .profile-description {
    padding: 1rem;
  }
  .hero-wrapper .hero-grid .profile-description .facts-container {
    margin-top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .hero-wrapper {
    padding-bottom: 0;
  }
  .hero-wrapper ul .dropdown .dropdown-btn {
    font-size: 1rem;
  }
  .hero-wrapper ul li a {
    font-size: 1rem;
  }
  .hero-wrapper ul .contact-btn {
    font-size: 0.2rem;
  }
  .hero-wrapper .hero-container {
    height: 100%;
  }
  .hero-wrapper .hero-grid {
    height: 650px;
    gap: 1rem;
    padding-top: 0;
    grid-template-rows: repeat(2, 1fr);
  }
  .hero-wrapper .hero-grid .welcome-box {
    padding: 1rem;
  }
  .hero-wrapper .hero-grid .welcome-box h2 {
    line-height: 1;
    font-size: 2.5rem;
  }
  .hero-wrapper .hero-grid .welcome-box p {
    margin: 0.1rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .hero-wrapper .hero-grid .welcome-box a .resume p {
    font-size: 1rem;
  }
  .hero-wrapper .hero-grid figure {
    grid-row: 1/span 3;
  }
  .hero-wrapper .hero-grid .profile-description {
    padding: 1rem;
    grid-row: 2/span 1;
    grid-column: 1/span 2;
  }
  .hero-wrapper .hero-grid .profile-description h2 {
    font-size: 1.5rem;
  }
  .hero-wrapper .hero-grid .profile-description p {
    margin-top: 0.4rem;
    font-size: 1rem;
  }
  .hero-wrapper .hero-grid .profile-description .facts-container .fact p {
    font-size: 16px;
    margin-top: 0;
  }
  .hero-wrapper .hero-grid .certifications-box {
    padding: 1rem;
    grid-row: 3;
    grid-column: 1/span 2;
  }
  .hero-wrapper .hero-grid .certifications-box h2 {
    font-size: 1.5rem;
  }
  .hero-wrapper .hero-grid .certifications-box .certifications a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-wrapper .hero-container {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .hero-wrapper .hero-container {
    padding-bottom: 1rem;
  }
  .hero-wrapper .hero-container h1 {
    font-size: 3rem;
  }
  .hero-wrapper .hero-container nav {
    align-items: center;
    justify-content: flex-start;
  }
  .hero-wrapper .hero-container ul {
    display: none;
  }
  .hero-wrapper .hero-container .hero-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 0;
    gap: 1rem;
  }
  .hero-wrapper .hero-container .hero-grid .welcome-box {
    grid-column: 1 span 2;
    grid-row: 1;
    padding: 1rem;
    justify-content: center;
  }
  .hero-wrapper .hero-container .hero-grid .welcome-box h2 {
    margin-top: 0.2rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  .hero-wrapper .hero-container .hero-grid .welcome-box p {
    font-size: 1rem;
    margin-top: 0;
  }
  .hero-wrapper .hero-container .hero-grid .welcome-box p span::after {
    height: 0.2rem;
  }
  .hero-wrapper .hero-container .hero-grid figure {
    grid-column: 1;
    grid-row: 2;
  }
  .hero-wrapper .hero-container .hero-grid .certifications-box {
    padding: 1rem;
    grid-row: 3;
    grid-column: 1/span 2;
  }
  .hero-wrapper .hero-container .hero-grid .profile-description {
    grid-column: 2;
    grid-row: 2;
    padding: 1rem;
  }
  .hero-wrapper .hero-container .hero-grid .profile-description .facts-container {
    margin-top: 0;
    gap: 0;
  }
  .hero-wrapper .hero-container .hero-grid .profile-description .facts-container .fact p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=hero.css.map */