@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Staatliches&display=swap');
@import '../../Variables.scss';
*,*::after,*::before, body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

html{
    scroll-behavior: smooth;
    body{
        background-color: $backgroundColor;
        &::-webkit-scrollbar{
            width: 0.75rem;
        }
        &::-webkit-scrollbar-track{
            background: #bdbdbd;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #888888;
        }
    }
}

.hero-wrapper{
    scroll-snap-align: start;
    border-bottom: 1px solid #dfdfdf;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    .hero-container{
        width: 75%;
        margin: auto;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: $navheight;
    }

    h1{
        font-family: 'Staatliches', sans-serif;
    }
    h2{
        margin-top: -1rem;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        li{
            display: inline-block;
            margin-left: 3vw;
            font-size: 1.5rem;
            transition: all .2s;
            a{
                color: black;
                text-decoration: none;
            }
            &:hover{
                text-shadow: 1px 1px 15px $secondaryColor;
            }
        }

        .dropdown{
            position: relative;
            display: inline-block;
            margin-left: 3vw;
            &:hover .dropdown-content{
                display: flex;
            }
            .dropdown-btn{
                border: none;
                padding: .25vw .5vw;
                font-size: 1.5rem;
                &:hover{
                    cursor:pointer;
                    text-shadow: 1px 1px 15px $secondaryColor;
                }
            }
            .dropdown-content{
                transition: all .2s;
                position: absolute;
                padding: .5vw;
                min-width: 170px;
                max-width: 250px;
                background-color: #dfdfdf;
                display: none;
                flex-direction: column;
                z-index: 1;
                a{
                    text-decoration: none;
                    margin-top: .3vw;
                    color: black;
                    font-size: 1.5rem;

                    &:hover{
                        text-shadow: 1px 1px 15px $secondaryColor;
                    }
                }
            }
        }
        .contact-btn{
            background-color: #658864;
            border-radius: 15px;
            padding: .5rem 1rem;
            &:hover{
                background-color: #B7B78A;
            }
            a{
                color: white;
                text-decoration: none;
            }
    }
}

.hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: $hamburger-gap;
    width: max-content;
    cursor: pointer;
    z-index: 2;
    margin: 0;
    padding: 0;
    &::before,&::after,input{
        outline: none;
        appearance: none;
        content: "";
        width: $bar-width;
        height: $bar-height;
        background-color: rgb(58, 58, 58);
        border-radius: 999px;
        transition: all 200ms ease-in-out;
        transform-origin: left center;
        //pointer-events: none;
    }
    &:has(input:checked)::before{
        rotate: 45deg;
        width: $x--width;
        translate: 0 (calc($bar-height/-2));
    }
    &:has(input:checked)::after{
        rotate: -45deg;
        width: $x--width;
        translate: 0 (calc($bar-height/2));
    }
    &:has(input:checked) + .sidebar{
        background-color: blue;
        translate: -30%;
    }

    input{
        cursor: pointer;
        z-index: 2;
        &:checked{
            opacity: 0;
        }
    }
}

.sidebar{
    position: absolute;
    right: 0;
    top: 0;
    translate: 100%;
    nav{
        ul{
            display: flex;
            flex-direction: column;
        }
    }
    background-color: red;
}

    .hero-grid{
        display: grid;
        gap: 2rem;
        margin-top: 5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(200px,500px) minmax(200px,300px);
        .welcome-box{
            display: flex;
            flex-direction: column;
            grid-column: 1/ span 2 ;
            background-color: #D9D9D9;
            border-radius: 35px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 6rem 0 6rem 2rem;

            h2{
                font-feature-settings: "liga" 0;
                letter-spacing: -3px;
                font-weight: bold;
                line-height: 4.5rem;
            }
            p{
                margin: 1rem 0;
                font-size: 2rem;
                span{
                    position: relative;
                    font-weight: bold;
                    &::after{
                        display: block;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 6px;
                        background: linear-gradient(90deg, $primarycolor, $secondaryColor);
                    }
                }
            }
            a{
                width: fit-content;
                text-decoration: none;
                .resume{
                    display: flex;
                    width: fit-content;
                    background-color: $secondaryColor;
                    transition: all .2s;
                    border-radius: 10px;
                    p{
                        color: white;
                        font-weight: bold;
                        font-size: 1rem;
                        margin: 0;
                        padding: .5rem 1rem;
                    }
                    &:hover{
                        background-color: $primarycolor;
                    }
                }
            }
        }

            figure{
                position: relative;
                border-radius: 25px;
                grid-column: 3/ span 2;
                grid-row: 1/ span 2;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                img{
                    width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    border-radius: 25px;
                }
                a{
                    bottom: 25px;
                    left: 25px;
                    padding: .5rem 1rem;
                    color: black;
                    background-color: rgba(255,255,255,0.7);
                    text-decoration: none;
                    border: 1px solid black;
                    border-radius: 35px;
                    position: absolute;
                    transition: all .2s;
                    &:hover{
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                        scale: 1.1;
                        background-color: white;
                    }
                }
        }

        .profile-description{
            display: flex;
            flex-direction: column;
            background-color: #D9D9D9;
            border-radius: 25px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: all .2s;
            height: 100%;
            padding: 2rem;
            .facts-container{
                display: flex;
                flex-direction: column;
                gap: .1rem;
                margin-top: 1rem;
                .fact{
                    border-radius: 5px;
                    padding: .5rem;
                    p{
                        display: flex;
                        align-items: center;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .certifications-box{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 2rem;
            border-radius: 25px;
            grid-row: 2;
            grid-column: 2;
            .certifications{
                display: flex;
                flex-direction: column;
            }
            a{
                text-decoration: none;
                margin-top: 1rem;
                font-size: .8vw;
                color: rgb(139, 139, 139);
                &:hover{
                    color: #302517;
                    text-shadow: 1px 1px 15px rgb(139, 139, 139);
                }
            }
            }
            svg{
                color: rgb(139, 139, 139);
                margin-right: .5vw;
            }
        }
        .hide{
            display: block;
        }
    }
}

.contact-btn:hover{
    background-color: #675640;
}
.hero-wrapper ul .contact-btn:hover a{
    color: white;
}

.primary-heading{
    font-size: 5rem;
    font-weight: bold;
}

.secondary-heading{
    font-size: 3rem ;
    font-weight: bold;
}

.third-heading{
    font-size: 2rem;
    font-weight: bold;
}

.sub-heading{
    font-size: 1.5rem;
}

.body-text{
    font-size: 1rem;
}

.button-text{
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width:$breakpoint-laptop-l){
    .primary-heading{
        font-size: 4rem;
    }
    .secondary-heading{
        font-size: 2rem;
    }
    .third-heading{
        font-size: 1.5rem;
    }
    .body-text{
        font-size: .8rem;
    }
    .sub-heading{
        font-size: 1rem;
    }
    .hero-wrapper{
        .hero-container{
            ul{
                .dropdown{
                    .dropdown-btn{
                        font-size: 1rem;
                    }
                    .dropdown-content{
                        font-size: 2rem;
                    }
                }
            }
            h1{
                font-size: 3rem;
            }
            .hero-grid{
                margin-top: 2rem;
                .welcome-box{
                    padding: 1rem;
                    h2{
                        line-height: 1;
                        font-size: 2.5rem;
                    }
                    p{
                        font-size: 1.5rem;
                        span{
                            &::after{
                            height: 4px;
                             }
                        }
                    }
                }
                figure{
                    img{
                        object-position: center;
                        height: 100%;
                    }
                }
                .certifications-box{
                    padding: 1rem;
                    a{
                        font-size: 1rem;
                    }
                }
                .profile-description{
                    padding: 1rem;
                    .facts-container{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$breakpoint-laptop) {
    .hero-wrapper{
        padding-bottom: 0;
        .hero-container{
            height: 100%;
            ul{
                .dropdown{
                    .dropdown-btn{
                        font-size: 1rem;
                    }
                }
                li{
                    a{
                        font-size: 1rem;
                    }
                }
                .contact-btn{
                    font-size: .2rem;
                    padding: 1rem;
                }
            }
        .hero-grid{
            height: 650px;
            gap: 1rem;
            padding-top: 0;
            grid-template-rows: repeat(2,1fr);
            margin-top: 0;
            .welcome-box{
                padding: 1rem;
                h2{
                    line-height: 1;
                    font-size: 2.5rem;
                    margin-top: .5rem;
                }
                p{
                    margin: .1rem 0;
                    font-size: 1rem;
                    line-height: 1.2rem;
                }
                a{
                    .resume{
                    p{
                        font-size: 1rem;
                    }
                }
            }
            }

            figure{
                grid-row: 1/span 3;
            }
            .profile-description{
                padding: 1rem;
                grid-row: 2/span 1;
                grid-column: 1/span 2;
                h2{
                    font-size: 1.5rem;
                }
                p{
                    margin-top: 0.4rem;
                    font-size: .5rem;
                }
                .facts-container{
                    .fact{
                        p{
                            font-size: 1rem;
                            margin-top: 0;
                        }
                    }
                }
            }
            .certifications-box{
                padding: 1rem;
                grid-row: 3;
                grid-column: 1/span 2;
                h2{
                    font-size: 1.5rem;
                }
                .certifications{
                    a{
                    font-size: 1rem;
                    }
                }
            }
        }
    }
}
}

@media screen and (max-width:$breakpoint-tablet) {
    .hero-wrapper{
        .hero-container{
            width: 90%;
        }
    }
}
@media screen and (max-width:$breakpoint-mobile-l) {

    .hero-wrapper{
        .hero-container{
            padding-bottom: 1rem;
            h1{
                font-size: 3rem;
            }
            nav{
                align-items: center;
                justify-content: flex-start;
            }
            ul{
                display: none;
            }
            .hero-grid{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(3,1fr);
                margin-top: 0;
                gap: 1rem;
                .welcome-box{
                    grid-column: 1 span 2;
                    grid-row: 1;
                    padding: 1rem;
                    justify-content: center;
                    h2{
                        margin-top: .2rem;
                        font-size: 2rem;
                        line-height: 2rem;
                    }
                    p{
                        font-size: 1rem;
                        margin-top: 0;
                        span{
                            &::after{
                                height: .2rem;
                            }
                        }
                    }
                }
                figure{
                    grid-column: 1;
                    grid-row: 2;
                }
                .certifications-box{
                    padding: 1rem;
                    grid-row: 3;
                    grid-column: 1/span 2;
                }
                .profile-description{
                    grid-column: 2;
                    grid-row: 2;
                    padding: 1rem;
                    .facts-container{
                        margin-top: 0;
                        gap: 0;
                        .fact{
                            p{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}