@import '../../Variables.scss';

.diagrams-wrapper{
    display: flex;
    min-height: 100vh;
    border-bottom: 1px solid #dfdfdf;
}

    .diagram-grid{
        margin: auto;
        display: grid;
        width: 80%;
        gap: 0px;
        grid-template-columns: repeat(2, 1fr);
        overflow-x: hidden;

        .diagram-title{
            grid-column: 1/ span 2;
            padding: 3rem;
            text-align: left;
        }

        article{
            display: flex;
            flex-direction: column;
            margin-top: 8rem;
            gap: 1rem;
            align-items: center;
            margin: auto ;
            padding: 2rem 5rem;
            img{
                border: 2px rgb(116, 116, 116) solid;
                padding-left: 2rem;
            }

            .diagram-content{
                align-self: flex-end;
                h3{
                    font-size: 2rem;
                }
                p{
                    text-wrap: pretty;
                }
            }
        }
    }