@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Staatliches&display=swap");
.skills-wrapper {
  position: relative;
  scroll-snap-align: start;
  min-height: 100vh;
  border-bottom: 1px solid #dfdfdf;
}
.skills-wrapper .skills-flex {
  padding-top: 5vw;
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.skills-wrapper .skills-flex .section-title {
  margin-top: 5vw;
  grid-column: 1/-1;
  grid-row: 1;
}
.skills-wrapper .skills-flex .skills-names {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  list-style: none;
}
.skills-wrapper .skills-flex .skills-names ul li {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 3vw;
  margin-bottom: 1vw;
  color: rgb(139, 139, 139);
}
.skills-wrapper .skills-flex .skills-names ul li svg {
  margin-right: 0.3vw;
}

@media screen and (max-width: 1024px) {
  .skills-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills-wrapper .skills-flex {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .skills-wrapper .skills-flex {
    width: 90%;
  }
  .skills-wrapper .skills-flex .skills-names ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 431px) {
  .secondary-heading {
    font-size: 1.5rem;
  }
  .skills-wrapper .skills-flex .section-title {
    margin-top: 5rem;
  }
  .skills-wrapper .skills-names {
    width: 100%;
  }
  .skills-wrapper .skills-names ul {
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-wrapper .skills-names ul li {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .skills-wrapper .skills-names ul li svg {
    margin-right: 5px;
  }
}