
:root{
    --background: #5885AF;
    --darkblue: #274472;
}

.skills-container{
    display:flex;
    background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);    
    border-radius: 1rem;
    padding: 4rem 0rem 4rem 4rem;
    width: 75%;
    margin: auto;
    margin-top: 5rem;
    justify-content: center;
}

.skill-title{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: span 3;
}

.skill-title > h1{
    font-weight: 500;
    margin-right: .2rem;
    font-family: 'Sora', sans-serif;
}

.skillbox-container{
    display: flex;
    gap: 5rem;    
    padding: 2rem 0;
    margin: auto;
    overflow-x: scroll;
    align-items: center;
}

.skillbox-container:last-child{
    padding-right: 4rem;
}

.skillbox-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillbox-title h1{
    font-family: Sora, sans-serif;
    margin-bottom: .5rem;
    font-size: 3rem;
}

.skillbox-title p{
    line-height: 1.5rem;
}

.skillbox{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: scale 0.5s;
}

.skillbox-heading{
    font-family: Sora, sans-serif;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    align-self: flex-start;
    font-weight: 400;
    margin-top: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
}

.skillbox-description {
    line-height: 1.3rem; 
    padding: 0 1.5rem 2rem;
}

video{
    width: 25rem;
    height: 30rem;
    border-radius: 1.2rem 1.2rem 0 0;
    object-fit: cover;
    transition: scale 1s, margin-bottom 1s;
}

.skillbox:hover{
    scale: 1.02;
}

.slideX-animation{
    animation: X-slide 2s;
}

.skillbox-container::-webkit-scrollbar{
    height: 8px;
  }

  .project-list::-webkit-scrollbar-track{
    background-color: #2f2f2f;
  }

@keyframes X-slide {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.slideY-animation{
    animation: Y-slide 2s;
}

@keyframes Y-slide {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width:1140px){
    .skillbox-container{
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: visible;
    }

    .skills-container{
        padding: 1rem;
    }

    .skillbox-title{
        text-align: center;
    }

    .skillbox-description{
        padding-bottom: 1rem;
    }

    article{
        width: 60%;
        margin: auto
    }

    video{
        width: 100%;
    }

    .skillbox-container:last-child{
        padding-right: 0;
    }
    
}

@media screen and (max-width:800px) {

    .skills-container{
        width: 90%;
        padding: 2rem;
    }

    article{
        padding: 0 .2rem;
        width: 100%;
    }

    .skillbox-container{
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
    }

    .skillbox-container:last-child{
        padding-right: 0;
    }

    .skillbox{
        border-bottom: .5rem rgb(110, 110, 110) dotted;
        padding-bottom: 1rem;
        border-radius: 1.2rem;
        border: none;
    }

    .skill-title{
        display: inline-block;
        align-items: center;
        justify-content: center;
        grid-column-start: span 2;
    }

    video{
        width: 100%;
        height: 20rem;
    }
}