@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.header-container{
    display: flex;
    background-color: #5885AF;
    min-height: 100px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.socials-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-basis: 10%;
    background-color: white;
    padding: 1rem;
}

.socials-container a{
    color: rgb(0, 0, 0);
}

.social{
    transition: 0.3s;
}

.social:hover{
    box-shadow: 1px 1px 15px #C3E0E5;
}

.socials-text{
    display: inline-block;
    position: relative;
    font-family: Sora, sans-serif;
    color: black;
    margin:0 .5rem;
}

.socials-text:after{
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.socials-text:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-container span{
    color: black;
    font-family: Sora, sans-serif;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 1;
}

.logo{
    display: flex;
    color: white;
    position: relative;
}

.logo .O{
    margin-bottom: 10%;
}

.logo .logo-divider{
    position: absolute;
    background-color:white;
    height: 90%;
    width: 2px;
    left: 50%;
    transform: rotate(30deg);
    z-index: 1;
}

.hide-divider{
    position: absolute;
    background-color: #5885AF;
    width: 15px;
    height: 92%;
    transform: rotate(30deg);
    left: 37%;
    z-index: 0;
}

.logo .G {
    margin-top: 20%;
}

.name p{
    letter-spacing: 2px;
    font-weight: 500;
}

.role{
    font-size: .7rem;
}

.contact-me{
    display: flex;
    align-items: center;
    background-color: white;
    color:black;
    padding: .75rem;
    transition: 0.3s;
    text-decoration: none;
}

.contact-me:hover{
    cursor: pointer;
    box-shadow: .5rem .5rem #4d4d4d;
}

.contact-me p{
    margin-left: 0.3rem;
    font-weight: 500;
    font-family: Sora, sans-serif;
}

a:link {
    text-decoration: none;
}

@media screen and (max-width:800px) {
    .contact-me,
    .socials-container
    {
        display: none;
    }

    .header-container{
        justify-content: center;
    }
}
