.certifications-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    width: 75%;
    margin: auto;
    padding: 4rem;
    gap: 2rem 6rem;
    background: -webkit-gradient(linear, right top, left top, from(#e3ffe7), to(#d9e7ff));
    background: -o-linear-gradient(right, #e3ffe7 0%, #d9e7ff 100%);
    background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);    border-radius: 1rem;
    border-radius: 1rem ;
    margin-top: 5rem;
}

.certs-heading{
    grid-column-start: span 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.certs-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.certs-heading h1 {
    margin-right: .2rem;
    font-weight: 500;
    font-family: Sora, sans-serif;
}

.certification{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.certification img{
    -webkit-transition: scale 1s, opacity 500ms;
    -o-transition: scale 1s, opacity 500ms;
    transition: scale 1s, opacity 500ms;
}

.certification img:hover{
    scale: 1.2;
    opacity: 0.7;
}

@media screen and (max-width:1000px) {
    .certifications-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 90%;
    }

    .certification{
        padding-bottom: 1rem;
    }

    .certification:last-child{
        border-bottom: none;
    }

    .certification > p{
        text-align: center;
    }
}

