@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Staatliches&display=swap');

$backgroundColor: #F0F0F0;
$primarycolor: #A68B5B;
$secondaryColor: #675640;
$contentFontSize: 1vw;
$headingFont: "Karla" , sans-serif;
$contentFont: "Karla", sans-serif;
$buttonColor: #bc6c25;