@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Staatliches&display=swap');

$backgroundColor: #F0F0F0;
$primarycolor: #A68B5B;
$secondaryColor: #675640;
$gridBorderColor: #6b6b6b;
$letterSpacing: -3px;
$navheight: 100px;
//responsive

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-l:1440px;
@mixin resetStyle{
    outline: none;
    appearance: none;
    border: none;
}